<div class="container">
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Kuansim</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Take Action</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<% if user_signed_in? %>
						<a href="#">Hello, <%= current_user.name %></a>
					<% else %>
						<a href="<%= user_login_path %>">Login</a>
					<% end %>
				</li>
			</ul>
		</div>
	</nav>

	<div class="jumbotron">
		<h1>Kuansim</h1>
		<p>Kuansim provides an easily accessible online platform where people can learn and become involved in discussions and activities about social issues.</p>
		<p><a class="btn btn-primary btn-lg" href="#">Learn more</a></p>
	</div>
</div>
