<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kuansim</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#save_bookmark_btn').on('click', function (e) {
        e.preventDefault();
        var serializedData = $('#kuansim_bookmark').serialize();

        var formData = {
          title: $('#bookmark_title').val(),
          url: $('#bookmark_url').val(),
          description: $('#bookmark_description').val(),
          date_happened: Date.now(),
          location: 'test',
          current_bookmark_user: "<%= cookies[:user_c] %>",
          event: {
            title: $('#bookmark_title').val(),
            description: $('#bookmark_description').val(),
            date_happened: Date.now(),
            location: 'test'
          }
        };
        console.log(formData);
        $.ajax({
          url: '/collections/bookmarks',
          type: 'POST',
          xhrFields: {
            withCredentials: true
          },
          dataType: 'json',
          data: formData,
          success: function (data, status) {
            console.log(data);
            console.log('saved!');
          },
          error: function (jqXHR, status) {
            console.log('error!');
          }
        });
      });
    });
  </script>
</head>
<body>
  <div id="kuansim">
    <div class="modal">

      <form id="kuansim_bookmark">
        <div class="modal-body">
          <label for="bookmark_title">Title</label>
          <input type="text" id="bookmark_title" name="bookmark_title"/>

          <label for="bookmark_url">URL</label>
          <input type="text" id="bookmark_url" name="bookmark_url"/>

          <label for="bookmark_description">Description</label>
          <input type="text" id="bookmark_description" name="bookmark_description"/>
        </div>
        <div class="modal-footer">
          <button id="save_bookmark_btn">Save bookmark</button>
        </div>
      </form>

    </div>
  </div>
</body>
</html>